<h1 id="About"><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    <p>Hi, I am Yiming Shi. Welcome to my website! &#x1F389</p>

    <!--
    <p>I am an active learner, dreamer, and programmer of course. (程序猿🙈.jpg)
        Also, I am a new vlogger and up主 @bilibili. Welcome to check my channel
        🎬<a href="https://space.bilibili.com/23241896">奇形怪状小十一</a>. I play
        badminton. I like hippop. And I have
        plenty wild dreams, such as becoming a rapper 🎤, a dancer 💃, and etc.
        I am still working on these. Swag~</p>
    -->

    <p> In 2020, I graduated from the University of Michigan and Shanghai
        Jiao Tong University with a dual degree in computer science and electrical
        and computer engineering! Cheers! &#x270C;&#127995;
    </p>

    <p> In the past year, I have been working as a backend developer at
        ByteDance, Shanghai at Educational AI Team. I’ve worked as feature owner
        on plenty product features for Personalized Course Recommendation Strategy
        System, Customer Resource Management system using GoLang. It's really
        a wonderful experience! I learnt a lot and made so many friends there ❤️~
    </p>

    <p>For the next stage of my life, I will go to the University of California,
        Los Angeles and pursue my master's degree in computer science there!
        Can't wait to start my life at LA!!!
    </p>

    <p>
    Currently, I'm seeking <b>a summer internship</b> in 2022 in a <b>Software
        Developer Engineer position</b>.
    </p>
</div>
