<h1 id="About"><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    <p>Hi, I am Yiming Shi. Welcome to my website! &#x1F389</p>
    
    <p>I am an active learner, dreamer, and programmer of course. (程序猿🙈.jpg)
        Also, I am a new vlogger and up主 @bilibili. Welcome to check my channel
        🎬<a href="https://space.bilibili.com/23241896">奇形怪状小十一</a>. I play
        badminton. I like hippop. And I have
        plenty wild dreams, such as become a rapper 🎤, a dancer 💃, and etc. 
        I am still working on these. Swag~</p>
    
    <p>Recently, I just graduated from the University of Michigan and Shanghai 
        Jiao Tong University with dual degree in computer science and electrical
        and computer engineering! Cheers! &#x270C;&#127995;</p> 
    
    <p>For the next stage of my life, I will go to the University of California,
        Los Angeles and pursue my master's degree in computer science there!
        Can't wait to start my life at LA!!! </p>
</div>
