<br> </br>
<div class="navy-line"></div>
<h1 id="Education"><span data-i18n="skills.my_skills">Education</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
     {% for career in site.data.index.education %}
      <div class="archive-title">
        <h5 class="archive-year bio"><a href="{{ career.link }}">{{ career.name }}</a><i><span style="float:right;">{{ career.date }}</span></i></h5>
      </div>
      <p> </p>
      <ul>
        <div><i>{{ career.descr }}</i></div>
        {% if career.course == null or career.course == "" %}
        {% else %}
        <div style="text-indent: -80px; padding-left: 80px;">
            <i>Coursework:</i> {{ career.course }}
        </div>
        {% endif %}
        {% if career.awards == null or career.awards == "" %}
        {% else %}
        <div style="text-indent: -52px; padding-left: 52px;">
            <i>Awards:</i> {{ career.awards }}
        </div>
        {% endif %}
      </ul>
      {% endfor %}
  </div>

</div>
