<br> </br>
<h1 id="Employment"><span data-i18n="skills.my_skills">Employment</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
    <div class="archive-title">
        <h5 class="archive-year bio">Software Engineer Intern <img src="/img/logo-Meta.png" height="50" align="right">  </h5>
      </div>

      <ul>
        <h5>@ Meta, Menlo Park, CA </h5>
      </ul>

    <div class="archive-title">
      <h5 class="archive-year bio">Backend Engineer, Education AI Class Team <img src="/img/bytedance.jpeg" width="70" height="50" align="right">   </h5>
    </div>

    <ul>
      <h5>@ Bytedance, Shanghai, China </h5>
    </ul>
  </div>
</div>


