<br> </br>
<h1 id="Projects"><span data-i18n="skills.my_skills">Projects</span></h1>

<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title">HASE @ EFES Lab</h5>
    <div class="intro">
    <article class="tag-item">
        <span>
            <li> Build a better debugging system based on KLEE symbolic execution engine.</li>
            <li> Gather, verify and analyze execution constraints statistics over GNU 
                Coreutils and SQLite using KLEE symbolic system. Verify KLEE correctness 
                of constraint generation. Fix the incorrect constraints generation scheme.</li>
            <li> Exploit better constraints generation scheme to overcome limitation of 
                SMT solver and extend the ability of KLEE. </li>
        </span>
    </article>
    </div>
    <br></br>
    <div class="photo"><img src="/img/efes.png" width="200" height="90" align="right"></img></div>
    <br></br>
    <br></br>
  </div>
</div>

<br> </br>
<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title"> Multi-Domain Disintangle @ CROMA Lab</h5>
    <div class="intro">
    <article class="tag-item">
            <span>
                <li>Build disentanglement system for conversation channels without 
                    labeling abundant training data in their domain based on 
                    current well-performed disentanglement system using transfer learning.</li>
                <li>Detect server languange used pycld2 library in polyglot.</li>
            </span>
    </article>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <div class="photo"><img src="/img/lab.png" width="200" height="45" align="right"></img></div>
    
    <h5 class="tag-group-title">Touch Access @ CROMA Lab</h5>
    <div class="intro">
    <article class="tag-item">
            <span>
                <li>Introduce selfsourcing to improve the accuracy of touch input on touch-enabled devices for individuals with motor or situational impairments.</li>
                <li>Improving the clustering algorithm using the aggregation method. Change code to adapt our data better. Implement the performance analysis part and tried different ways to partition of the data into training and testing, and tried different ways of aggregation. </li>
                <li>The code works well and shows improvement from the baseline model. </li>
            </span>
    </article>
    <a href="http://croma.eecs.umich.edu/croma.html"><i class="fa fa-fw fa-home"></i>Lab Homepage</a>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
  </div>
</div>

<br> </br>
<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title">Deep Neural Network for Yelp Recommendations</h5>
    <div class="intro">
    <article class="tag-item">
            <span>
            <li>Build recommendation system predicting top N favorite business 
                of Yelp users using deep neural network and k-nearest 
                neighbors method based on Yelp dataset using TensorFlow.</li>
            <li>Visualize results in 2D dimension. Write report paper 
                showing works and results. Propose possible future works. </li>
            </span>
    </article>
    </div>
    <br> </br>
    <br> </br>
  </div>
</div>

<br> </br>
<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title">Parking Lot Simulation Using OpenGL</h5>
    <div class="intro">
    <article class="tag-item">
            <span>Learn and apply singleton design pattern. Design a program to 
                manage a car park and write a simulation using C++ where random vehicles 
                enter and exit the parking lot over a given period of time. Use OpenGL 
                to design a parking lot with different kinds of vehicles and drive vehicles into free slots. </span>
    </article>
    <a href="https://github.com/syiming/Parking_Lot_Simulator "><i class="fa fa-fw fa-github"></i>GitHub</a>
    </div>
    <div class="photo"><img src="/img/parkinglot2.gif" width="150" height="145"></img></div>
  </div>
</div>
