<br> </br>
<h1 id="Projects"><span data-i18n="skills.my_skills">Projects</span></h1>

<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title">EFES Lab</h5>
    <div class="intro">
    <article class="tag-item">
            <span>More information comming soon. </span>
    </article>
    </div>
    <div class="photo"><img src="/img/efes.png" width="200" height="90" align="right"></img></div>
  </div>
</div>
<br> </br>
<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title">CROMA</h5>
    <div class="intro">
    <article class="tag-item">
            <span>More information comming soon. </span>
    </article>
    <a href="http://croma.eecs.umich.edu/croma.html"><i class="fa fa-fw fa-home"></i>Lab Homepage</a>
    </div>
    <div class="photo"><img src="/img/lab.png" width="200" height="45" align="right"></img></div>
  </div>
</div>
<br> </br>
<div class="tag-list">
  <div class="tag-group">
    <h5 class="tag-group-title">Parking Lot Simulation Using OpenGL</h5>
    <div class="intro">
    <i>Dec 2016 - Dec 2016</i>
    <article class="tag-item">
            <span>Learn and apply singleton design pattern. Design a program to manage a car park and write a simulation using C++ where random vehicles enter and exit the parking lot over a given period of time. Use OpenGL to design a parking lot with different kinds of vehicles and drive vehicles into free slots. </span>
    </article>
    <a href="https://github.com/syiming/Parking_Lot_Simulator "><i class="fa fa-fw fa-github"></i>GitHub</a>
    </div>
    <div class="photo"><img src="/img/parkinglot2.gif" width="150" height="145"></img></div>
  </div>
</div>
